<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="RFTestRecordManagementSystemDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=RFTestRecordManagementSystemDB;Integrated Security=True;Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="JsonFilePath" value="data\records.json" />
		<add key="RepositortType" value ="Dapper"/>
	</appSettings>
	
</configuration>